<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>{{json[0].figure}}</h1>
    <p>
        {{json[0].title}}
    </p>
    <img src={{json[0].image}} class="img-fluid" alt="...">
    </img>
    <p>
        {{json[0].description}}
    </p>
    <p>
        ca. {{json[0].runtime}} Min.
    </p>
    <p>
        Ab {{json[0].age_recommendation}} Jahre
    </p>

    <p>
        Titelliste:{%for i in json[1]%}
    <p>{{i.title_nr}} - {{i.title}}</p>

    {%endfor%}
    </p>





</body>

</html>